{% extends 'base.html.twig' %}

{% block body %}
<div class="body">
    <div class="header text-center font-weight-bold">
        КНИГОТЕКА
    </div>
    <div class="content">
        <div class="row justify-content-md-center">
            <div class="linkPage col-4">
                <a href="http://local.library/books">
                    <button class="btn btn-primary btn-lg btn-block">Книги</button>
                </a>
            </div>

            <div class="linkPage col-4">
                <a href="http://local.library/authors">
                    <button class="btn btn-primary btn-lg btn-block">Авторы</button>
                </a>
            </div>
        </div>

    </div>
    <div class="footer">

    </div>

</div>
{% endblock %}