.general-header {
    margin-top: 40px;
    color: gold;
    font-size: 60px;

}

.header {

    margin-left: 40px;
    margin-top: 40px;
    color: gold;
    font-size: 40px;
}

.header:hover {
    text-decoration: none;
    color: gold;
    text-shadow: 2px 2px 10px black, 0 0 1em yellow;
}

.body {
    position: absolute;
    margin: 5% 10%;
}

body {
    background: #2b2b2c;
    color: aliceblue;

}
.tableContent {
    width: 1000px;
    height: auto;
}
